body {
  background-color: #ffffdc;
}
p {
  margin: 0;
  font-family: Consolas, Courier;
}
#container {
  margin: 0 auto;
  text-align: center;
  // border: green dashed 1px;
  font-family: sans-serif;
}
